nav{
    padding: 90px 0px 0px 0px;
    text-align: center;

    background: rgba(101, 102, 176, 0.49);



}
.college{
    margin: 10px 580px 0px 10px;
    align-content: center;
  text-align: center;
}
.College-3 img{
    width: 200px;
    height: 190px;


}

